article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}/* CSS Document */

body, button, input, label, select, td, textarea {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 11px;
}

body{
	overflow-y: scroll;
}

body{
	background: #FFFFFF;
	color: #141823;
	line-height: 1.28;
	margin: 0;
	padding: 0;
	text-align: left;
	direction: ltr;
	unicode-bidi:embed;
}

main{
	margin:0 auto;
	background:url(images/bg-slide3.jpg);
	
}

.pageBanner{
	overflow-y: scroll;
	background-color:#252F49;
	box-shadow: 0 2px 2px -2px;
	-webkit-box-shadow: 0 2px 2px -2px;
	-moz-box-shadow: 0 2px 2px -2px;
	border-bottom: 1px solid #595555;
	margin: 0 auto;
}

.pageBanner{
	max-height: 84px;
	border: 0;
	position: relative;
	padding-bottom: 10px;
}

.logo h1{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color:#FFFFFF;
	margin-left: 49px;
	
}

.menu_login_container{
	float: left;
	/*position: relative;
	left: 210px;*/
}


.uiButtonConfirm {
	background-color: #5E71B0;
	border-color: #2f477a #29447e #1a356e;
}

.uiButton{
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.uiButtonText, .uiButton input {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  margin: 0;
  padding: 1px 0 2px;
  white-space: nowrap;
}

label {
	color: #666;
}

h1{
	font-size: 16px;
	color:#FFFFFF;
	margin: 0;
	padding: o;
	clearfix: zoom 1;
}

form{
	margin: 0;
	padding: 0;
}

input [type="hidden" i], input [type="image" i], input [type="file" i]{
	-webkit-appearance: initial;
	padding: initial;
	background-color: intial;
	border: inital;	
}

table{
	display: table;
	border-collapse: separate;
	border-color: gray;
}

t-body{
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}


.menu_login_container tr{
	vertical-align: top;
}

tr{
	display: table-row;
	border-color: inherit;
}

.menu_login_container .html7magic {
	  padding-bottom: 4px;
}

.menu_login_container table tr td {
      padding: 0 0 0 14px;
}


td, td.label {
  text-align: left;
}

.menu_login_container .html7magic label {
  color: #000000;
  font-weight: normal;
  padding-left: 1px;
}

.menu_login_container #email {
  direction: ltr;
}

.menu_login_container .inputtext, .menu_login_container .inputpassword {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
}


.inputtext, .inputpassword {
  padding-bottom: 4px;
}

textarea, .inputtext, .inputpassword {
  border: 1px solid #bdc7d8;
  margin: 0;
  padding: 3px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}

input, textarea, keygen, select, button {
  margin: 0em;
  font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

input, textarea, keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

.globalContainer{
	margin: 0 auto;
	position: relative;
	zoom:1;
	min-width: 980px;
	padding: 0;
	outline: none;
	margin-container: 20px;
	background-image:url(images/bg-slide3.jpg);
	padding-bottom: 15px;
}


.clearfix:before,
.clearfix:after{
	content: " ";
	display: block;
}

.clearfix:after {
	clear: both;
}

.clearfix{
	*zoom: 1;
}

.signUp_Section {
	float: right;
	max-width: 400px;
	position: relative;
	left:-50px;
}

.signUp_Header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.signUp_Title {
	font-size: 28px;
	font-weight: 700;
	color: inherit;
	font-family:inherit;
	font-weight: normal;
    white-space: nowrap;
}
.signUp_Message {
    color: inherit;
    font-size: 15px;
	font-weight:500;
}

.inputForm {
	border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 5px;
	-wekit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;`
}

.faceLogin{
	float: left;
	margin-top: 20px;
	position: relative;
	left: 50px;
}

.faceLogin_Title{
	font-size: 28px;
	font-weight: 700;
	color: inherit;
	font-family:inherit;
	font-weight: normal;
    white-space: nowrap;
}

.faceLogin_Message{
	 color: inherit;
    font-size: 15px;
	font-weight:500;
}

.faceLogin_Header{
	padding-bottom: 20px;
}

.faceLogin h4{
	float: left;
	font-size: 14px;
	font-weight: bold;
}

h2{
	font-size:12px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align:center;
}


/* .umbrella {
	background-image: url(images/col_pic1.jpg);
}*/

.umbrella{
	margin-top: 20px;
}
.umbrella .thumbnail{
	padding: 0;
	width: 250px;
	text-align: center;
}

#submit_button{
	border-radius: 3px;
	font-weight: 300;
	background-color: #252F49;
	color:#FFFFFF;
}

#videoElement{
	width: 200px;
	height: 200px;
	background-color: #666666;
}

#instructions{
	margin-left: 19px;
}

.loginForm{
	display: inline;
	padding: right: 5px;
}

.jumbotron{
	margin-top: 10px;
	padding: 0;
}

.btn btn-default{
	text-align: center;
}


.my_content_container a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #FFFFFF;
    display: inline;
    height: 2.5em;
    padding: 8px;
    width: 5em;       
    text-decoration: none; 
	background-color:#5E71B0;
	text-align:center;   
	border-radius: 3px; 
	-webkit-border-radius: 3px;  
}

.my_content_container {
	text-align:center;
}

.my_content_container : active {
	background-color: #6A80BE;
}

.my_content_container : hover {
	background-color: #6A80BE;
}

.jumbotron h3 {
	text-align: center;
}
.jumbotron p{
	text-align:justify;
}
/**
Uses.hmtl
**/

h4{
	text-align: center;
}

.col-md-3{
	display:block;
	text-wrap:normal;
}

.rows{
	display inline;
}

.uses .thumbnail  h5{
	text-align: center;
}

.uses .thumbnail {
	height: 289;
	overflow:scroll;
	/*background: url(images/bg-slide3.jpg);*/
}

main{
	background:url(images/bg-slide3.jpg);
}

/**
Signup.hmtl
**/
.faceSignUp_Message {
	position:relative;
	left: 168px;
}

.faceCapture{
	position: relative;
	left: 168px;
}

.signupPage p{
	font-weight: 300;
	font-style:italic;
}

.signup_form{
	margin-top: 15px;
}

.signupPage h2{
	text-align: left;
}

.faceSignUp_Title{
	font-size: 28px;
	font-weight: 700;
	color: inherit;
	font-family:inherit;
	font-weight: normal;
    white-space: nowrap;
}

.faceSignUp_Message{
	color: inherit;
    font-size: 15px;
	font-weight:500;
}

.signup_form > placeholder{
	text-align:center;
}
/** 
Signin.html
**/

/*#signin h2 {
	text-align:center;
}

#signin_form {
	position:relative;
	left: 400px;
	top: 200px;
}

/*--------------flexbox ----------*/
.parent {
  border: 5px solid lightcoral;
}

.item {
  /*height: 50px;*/
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}



/**** display: flex ****/


.example-flex .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-flex .item {
  width: 50px;
}




/**** flex-direction ****/


.example-direction .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.example-direction .item {
  width: 50px;
}




/**** flex-wrap ****/


.example-wrap .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.example-wrap .item {
  width: 30%;
}





/**** justify-content ****/


.example-justify .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.example-justify .item {
  width: 50px;
}





/**** align-items ****/


.example-align .parent {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  
}

.example-align .item {
  width: 50px;
}





/**** align-content ****/


.example-align-content .parent {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.example-align-content .item {
  width: 20%;
}





/**** order ****/


.example-order .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-order .item {
  width: 50px;
}

.example-order .item:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  background: lightgreen;
}






/**** flex-grow ****/


.example-grow .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-grow .item {
  width: 50px;
}

.example-grow .item:nth-child(2) {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: lightgreen;
}






/**** flex-shrink ****/


.example-shrink .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-shrink .item {
  width: 200px;
}

.example-shrink .item:nth-child(2) {
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
  background: lightgreen;
}






/**** flex-basis ****/


.example-basis .parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.example-basis .item {
  width: 200px;
}

.example-basis .item:nth-child(2) {
  -webkit-flex-basis: 39px;
      -ms-flex-preferred-size: 39px;
          flex-basis: 39px;
  background: lightgreen;
}






/**** align-self ****/


.example-align-self .parent {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example-align-self .item {
  width: 50px;
  height: 50px;
}

.example-align-self .item:nth-child(2) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  background: lightgreen;
}




